<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Masonry Layout</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="assets/css/style.css" rel="stylesheet">
  </head>

  <body>

    <div class="grid">

      <div class="masonry js-masonry">

        <div class="masonry__item js-masonry-item">
          <div class="box">
            <h3>Item</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eveniet, quidem id sint blanditiis voluptatem.</p>
          </div>
        </div>

        <div class="masonry__item js-masonry-item">
          <div class="box">
            <h3>Item</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eveniet, quidem id sint blanditiis voluptatem.</p>
          </div>
        </div>

        <div class="masonry__item js-masonry-item">
          <div class="box">
            <h3>Item</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eveniet, quidem id sint blanditiis voluptatem.</p>
          </div>
        </div>

        <div class="masonry__item js-masonry-item">
          <div class="box">
            <h3>Item</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eveniet, quidem id sint blanditiis voluptatem.</p>
          </div>
        </div>

        <div class="masonry__item js-masonry-item">
          <div class="box">
            <h3>Item</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eveniet, quidem id sint blanditiis voluptatem.</p>
          </div>
        </div>
      </div>

    </div>

    <script src="assets/js/script.js"></script>

  </body>

</html>
