:root {
  --htmlFontSize: 100%;

  --bodyBackgroundColor: #333d4b;
  --bodyColor: #fff;
  --bodyFontFamily: 'Helvetica Neue';
  --bodyFontFamilyFallback: sans-serif;
  --bodyFontSize: 1rem;
  --bodyFontWeight: 400;
  --bodyLineHeight: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: var(--htmlFontSize);
}

body {
  background-color: var(--bodyBackgroundColor);
  color: var(--bodyColor);
  font-family: var(--bodyFontFamily), var(--bodyFontFamilyFallback);
  font-size: var(--bodyFontSize);
  font-weight: var(--bodyFontWeight);
  line-height: var(--bodyLineHeight);
  margin: 0;
  min-height: 100%;
}
