/* modules/box.css */

:root {
  --box-background-color: #fff;
  --box-padding-horizontal: 2rem;
  --box-padding-vertical: 3rem;
}

.box {
  background-color: var(--box-background-color);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  font-size: 6.25rem;
  padding: var(--box-padding-vertical) var(--box-padding-horizontal);
  text-align: center;
}
