<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Isotope Layout</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="assets/css/style.css" rel="stylesheet">
  </head>

  <body>

    <div class="grid">

      <div class="isotope">

        <h3>Filter</h3>
        <ul class="isotope__filter">
          <li><button class="js-isotope-filter-button" data-filter="*">All</button></li>
          <li><button class="js-isotope-filter-button" data-filter=".js-isotope-filter-male">Male</button></li>
          <li><button class="js-isotope-filter-button" data-filter=".js-isotope-filter-female">Female</button></li>
        </ul>

        <h3>Sort</h3>
        <ul class="isotope__sort">
          <li><button class="js-isotope-sort-button" data-sort="js-isotope-sort-name">Name</button></li>
          <li><button class="js-isotope-sort-button" data-sort="js-isotope-sort-age">Age</button></li>
        </ul>

        <ul class="isotope__layout js-isotope-layout">
          <li class="isotope__item js-isotope-item js-isotope-filter-male">
            <div class="box box--blue">
              <h3 class="js-isotope-sort-name">Ralph Gordon</h3>
              <p>Age: <span class="js-isotope-sort-age">36</span></p>
              <p>Gender: male</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui vitae consequuntur, pariatur voluptates quasi reprehenderit!</p>
            </div>
          </li>
          <li class="isotope__item js-isotope-item js-isotope-filter-female">
            <div class="box box--red">
              <h3 class="js-isotope-sort-name">Danielle Davidson</h3>
              <p>Age: <span class="js-isotope-sort-age">29</span></p>
              <p>Gender: female</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui vitae consequuntur, pariatur voluptates quasi reprehenderit!</p>
            </div>
          </li>
          <li class="isotope__item js-isotope-item js-isotope-filter-male">
            <div class="box box--blue">
              <h3 class="js-isotope-sort-name">Daniel Austin</h3>
              <p>Age: <span class="js-isotope-sort-age">25</span></p>
              <p>Gender: male</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui vitae consequuntur, pariatur voluptates quasi reprehenderit!</p>
            </div>
          </li>
          <li class="isotope__item js-isotope-item js-isotope-filter-female">
            <div class="box box--red">
              <h3 class="js-isotope-sort-name">Anna Garcia</h3>
              <p>Age: <span class="js-isotope-sort-age">23</span></p>
              <p>Gender: female</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui vitae consequuntur, pariatur voluptates quasi reprehenderit!</p>
            </div>
          </li>
          <li class="isotope__item js-isotope-item js-isotope-filter-male">
            <div class="box box--blue">
              <h3 class="js-isotope-sort-name">Brian Romero</h3>
              <p>Age: <span class="js-isotope-sort-age">26</span></p>
              <p>Gender: male</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui vitae consequuntur, pariatur voluptates quasi reprehenderit!</p>
            </div>
          </li>
          <li class="isotope__item js-isotope-item js-isotope-filter-female">
            <div class="box box--red">
              <h3 class="js-isotope-sort-name">Julie Cook</h3>
              <p>Age: <span class="js-isotope-sort-age">22</span></p>
              <p>Gender: female</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui vitae consequuntur, pariatur voluptates quasi reprehenderit!</p>
            </div>
          </li>
          <li class="isotope__item js-isotope-item js-isotope-filter-male">
            <div class="box box--blue">
              <h3 class="js-isotope-sort-name">Jerry Brewer</h3>
              <p>Age: <span class="js-isotope-sort-age">28</span></p>
              <p>Gender: male</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui vitae consequuntur, pariatur voluptates quasi reprehenderit!</p>
            </div>
          </li>
          <li class="isotope__item js-isotope-item js-isotope-filter-male">
            <div class="box box--blue">
              <h3 class="js-isotope-sort-name">Aaron Chapman</h3>
              <p>Age: <span class="js-isotope-sort-age">24</span></p>
              <p>Gender: male</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui vitae consequuntur, pariatur voluptates quasi reprehenderit!</p>
            </div>
          </li>
          <li class="isotope__item js-isotope-item js-isotope-filter-male">
            <div class="box box--blue">
              <h3 class="js-isotope-sort-name">James Warren</h3>
              <p>Age: <span class="js-isotope-sort-age">27</span></p>
              <p>Gender: male</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui vitae consequuntur, pariatur voluptates quasi reprehenderit!</p>
            </div>
          </li>
          <li class="isotope__item js-isotope-item js-isotope-filter-male">
            <div class="box box--blue">
              <h3 class="js-isotope-sort-name">Albert McDonald</h3>
              <p>Age: <span class="js-isotope-sort-age">31</span></p>
              <p>Gender: male</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui vitae consequuntur, pariatur voluptates quasi reprehenderit!</p>
            </div>
          </li>
          <li class="isotope__item js-isotope-item js-isotope-filter-female">
            <div class="box box--red">
              <h3 class="js-isotope-sort-name">Melissa Munoz</h3>
              <p>Age: <span class="js-isotope-sort-age">25</span></p>
              <p>Gender: female</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui vitae consequuntur, pariatur voluptates quasi reprehenderit!</p>
            </div>
          </li>
          <li class="isotope__item js-isotope-item js-isotope-filter-female">
            <div class="box box--red">
              <h3 class="js-isotope-sort-name">Beverly Barrett</h3>
              <p>Age: <span class="js-isotope-sort-age">34</span></p>
              <p>Gender: female</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui vitae consequuntur, pariatur voluptates quasi reprehenderit!</p>
            </div>
          </li>
        </ul>

      </div>

    </div>

    <script src="assets/js/script.js"></script>

  </body>

</html>
