:root {
  --buttonBackgroundColor: #ff4c47;
  --buttonBorderRadius: .25rem;
  --buttonColor: var(--baseColor);
  --buttonPaddingHorizontal: .8125rem;
  --buttonPaddingVertical: .75rem;

  --buttonHoverBackgroundColor: #ce413b;
}

.button {
  background-color: var(--buttonBackgroundColor);
  border-radius: var(--buttonBorderRadius);
  box-shadow: 0 .125rem 0 #ce413b;
  color: var(--buttonColor);
  display: inline-block;
  padding: var(--buttonPaddingVertical) var(--buttonPaddingHorizontal);
  text-align: center;
  text-transform: uppercase;
  transition: background-color .3s;
  outline: 0;
}

.button:focus,
.button:hover {
  background-color: var(--buttonHoverBackgroundColor);
}
