:root {
  --buttonBackgroundColor: #ff4c47;
  --buttonBorderRadius: 0.25rem;
  --buttonColor: var(--baseColor);
  --buttonPaddingHorizontal: 0.8125rem;
  --buttonPaddingVertical: 0.75rem;

  --buttonHoverBackgroundColor: #ce413b;
}

.button {
  background-color: var(--buttonBackgroundColor);
  border-radius: var(--buttonBorderRadius);
  box-shadow: 0 0.125rem 0 #ce413b;
  color: var(--buttonColor);
  display: inline-block;
  outline: 0;
  padding: var(--buttonPaddingVertical) var(--buttonPaddingHorizontal);
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.button:focus,
.button:hover {
  background-color: var(--buttonHoverBackgroundColor);
}
